<div class=" bg-black about-page">

<div class="w3-content w3-container w3-padding-64 " id="about">
  <h1 class="w3-center">ABOUT VINAYAKA</h1>
  <hr>
  <p>Vinayaka Moorthi M K was born on 12 April, 1992 in Alappuzha a very beautiful region in the state of Kerala, India. He is the first son to Mrs. Beas and Mr. Krishnamoorthy. Vinayaka was raised in the village of Pallatthuruth North on the banks of River Pampa and Vembanaadu Lake. His early childhood and schooling was in Alappuzha. Vinayak believes it is his childhood experiences in this beautiful village that planted seedling of writing in his mind. After finishing his lower school education, he moved to Cherthala with his family, there he continued his education till graduation. He moved to Coventry, UK to join in Coventry University where he finished his Post Graduation in English Language Teaching in the year 2013.  His first book was published in the year 2013 in the UK titled ‘I Met a Fairy Queen’.
  He worked in the Republic of Maldives and in India as English lecturer for a couple of years. He took Master degrees in English Literature and then in English Language and Linguistics from India. Apart from writing and teaching he is interested in reading and learning linguistics.</p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <p><b><i class="fa fa-user w3-margin-right"></i>Vinayaka Moorthi</b></p><br>
      <img src="/images/vina.jpeg" class="w3-round w3-image w3-opacity w3-hover-opacity-off" id ="about-img" alt="Photo of Me" width="600" height="300">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
        <p class="w3-center"><em>I love writing. Why?</em></p>
        <hr>
      <p style="padding-top: 2px;">It is a pleasure hoping someone somewhere likes what I write. No matter how hard it is to step into the world of letters I long to tell my stories. How did I get that initial spark to this evergreen art? Was it the story of Sindbad of Arabia or was it Vikramaadithya and Vethala or was it someone from a Dickens story? Or is it my own life somehow wanting to be exposed?  Whatever the reasons be,  I wanted to be a writer! And here I am trying to say what I have for you. If my characters Walk in your dreams, behold them. If they haunt your nights then forgive them. If they cause tears, console them. I give them all to you...Let them in, for they need to be heard.</p>
    </div>
</div>
    
</div>