<div style="background-color: white;" class="blogs-page">
    <div class="container">
<div ng-app="vinayakApp">
    <br>
    <br>
   <br>
    <h1 class="font-bl">My Personal Blogs: </h1>
    <!-- Blog entries -->
     <hr/>
    <div class="w3-col l8 s12">
  <!-- Blog entry -->
            <div class="w3-card-4 w3-margin">
                <div class="w3-container">
                    <h3 class="font-bl"><b>A Dream of Eight Long Years</b></h3>
                </div>
                <hr/>
            <div class="w3-container">
                <p>Off the ground, off the truth in a dream I was,
                <br>
                    Of the dream of eight long years a song I’ve tuned,
                <br>
                    Of the tune that I still hum on the sweets she fed,</p>
            <div class="w3-row">
                 <div class="w3-col m8 s12">
                    <p><a href="https://medium.com/@vinayakamoorthi/a-dream-of-eight-long-years-77f72a0b4737" target = "_blank" class="w3-button w3-padding-large w3-teal w3-border"><b>READ MORE »</b></a></p>
                 </div>
            </div>
            </div>
             </div>
  <hr>
 <!-- Blog entry -->
            <div class="w3-card-4 w3-margin">
                <div class="w3-container">
                    <h3 class="font-bl"><b>Way it is to wake again</b></h3>
                </div>
                <hr/>
            <div class="w3-container">
                <p>Man’s hand is of magnificence, one that makes
                <br>
                    Towers kissing skies, sails that cross the blue
                <br>
                    Carving lines on sands that cut distance so short</p>
            <div class="w3-row">
                 <div class="w3-col m8 s12">
                    <p><a href="https://medium.com/@vinayakamoorthi/way-it-is-to-wake-again-da94b0220d5" target = "_blank" class="w3-button w3-padding-large w3-teal w3-border"><b>READ MORE »</b></a></p>
                 </div>
            </div>
            </div>
             </div>
  <hr>
   <!-- Blog entry -->
            <div class="w3-card-4 w3-margin">
                <div class="w3-container">
                    <h3 class="font-bl"><b>Of Alenope and A Sinful Deed</b></h3>
                </div>
                <hr/>
            <div class="w3-container">
                <p>You know her attire, her long curly hair and smile,
                <br>
                    You saw her in her great blue cloths, and her ring
                <br>
                    That once was mine with an emerald star carved</p>
            <div class="w3-row">
                 <div class="w3-col m8 s12">
                    <p><a href="https://medium.com/@vinayakamoorthi/of-alenope-and-a-sinful-deed-86b3aaae77fd" target = "_blank" class="w3-button w3-padding-large w3-teal w3-border"><b>READ MORE »</b></a></p>
                 </div>
            </div>
            </div>
             </div>
  <hr>
   <!-- Blog entry -->
            <div class="w3-card-4 w3-margin">
                <div class="w3-container">
                    <h3 class="font-bl"><b>Apology</b></h3>
                </div>
                <hr/>
            <div class="w3-container">
                <p>Thou secret hands of nature, Omni present light
                <br>
                    Remembrance of thou is done here
                <br>
                    Though thou forget to show us the paths</p>
            <div class="w3-row">
                 <div class="w3-col m8 s12">
                    <p><a href="https://medium.com/@vinayakamoorthi/apology-65c0dbd59042" target = "_blank" class="w3-button w3-padding-large w3-teal w3-border"><b>READ MORE »</b></a></p>
                 </div>
            </div>
            </div>
             </div>
  <hr>
   <!-- Blog entry -->
            <div class="w3-card-4 w3-margin">
                <div class="w3-container">
                    <h3 class="font-bl"><b>Child of three I call thee ‘Love’</b></h3>
                </div>
                <hr/>
            <div class="w3-container">
                <p>Know very much of the man who sings beneath the shade
                <br>
                    And knows much of a damsel to whom this song is meant
                <br>
                    Have seen them both before they part, embracing</p>
            <div class="w3-row">
                 <div class="w3-col m8 s12">
                    <p><a href = "https://medium.com/@vinayakamoorthi/child-of-three-i-call-thee-love-5905e4427d0d"target = "_blank" class="w3-button w3-padding-large w3-teal w3-border"><b>READ MORE »</b></a></p>
                 </div>
            </div>
            </div>
             </div>
  <hr>
   <!-- Blog entry -->
            <div class="w3-card-4 w3-margin">
                <div class="w3-container">
                    <h3 class="font-bl"><b>Seed of life I promise thee</b></h3>
                </div>
                <hr/>
            <div class="w3-container">
                <p>Oh, Man of song, you still laments on thy loss
                <br>
                    And palely you sing for long, so long.
                <br>
                    Keeping a question in my heart of words for you</p>
            <div class="w3-row">
                 <div class="w3-col m8 s12">
                    <p><a href="https://medium.com/@vinayakamoorthi/seed-of-life-i-promise-thee-45d42490c09b" target = "_blank" class="w3-button w3-padding-large w3-teal w3-border"><b>READ MORE »</b></a></p>
                 </div>
            </div>
            </div>
             </div>
  <hr>
   <!-- Blog entry -->
            <div class="w3-card-4 w3-margin">
                <div class="w3-container">
                    <h3 class="font-bl"><b>Museum keeper</b></h3>
                </div>
                <hr/>
            <div class="w3-container">
                <p>They say he is ought to keep them safe,
                <br>
                    The old memories, but not too old souvenirs
                <br>
                    Of his own voyage and rides, as I know</p>
            <div class="w3-row">
                 <div class="w3-col m8 s12">
                    <p><a href="https://medium.com/@vinayakamoorthi/museum-keeper-3fcfedd497b8" target = "_blank" class="w3-button w3-padding-large w3-teal w3-border"><b>READ MORE »</b></a></p>
                 </div>
            </div>
            </div>
             </div>
  <hr>
   <!-- Blog entry -->
            <div class="w3-card-4 w3-margin">
                <div class="w3-container">
                    <h3 class="font-bl"><b>We of song shall sing along</b></h3>
                </div>
                <hr/>
            <div class="w3-container">
                <p>Whom should I complain of thy loss, or
                <br>
                   Where can I find a tinge of love you may like?
                <br>
                    Where have you lost thy lyre of tune?</p>
            <div class="w3-row">
                 <div class="w3-col m8 s12">
                    <p><a href="https://medium.com/@vinayakamoorthi/we-of-song-shall-sing-along-3b897b4b2ece" target = "_blank" class="w3-button w3-padding-large w3-teal w3-border"><b>READ MORE »</b></a></p>
                 </div>
            </div>
            </div>
             </div>
  <hr>
   <!-- Blog entry -->
            <div class="w3-card-4 w3-margin">
                <div class="w3-container">
                    <h3 class="font-bl"><b>To My Talking Poetry</b></h3>
                </div>
                <hr/>
            <div class="w3-container">
                <p>Oh, you call me ‘Man of song’ happy I am of that name
                <br>
                    You my song, my one true companion, you’ve grown so wise
                <br>
                    You now know to speak of love ; You now know much of life</p>
            <div class="w3-row">
                 <div class="w3-col m8 s12">
                    <p><a href="https://medium.com/@vinayakamoorthi/to-my-talking-poetry-1d75bd1ec4c2" target = "_blank" class="w3-button w3-padding-large w3-teal w3-border"><b>READ MORE »</b></a></p>
                 </div>
            </div>
            </div>
             </div>

<!-- END BLOG ENTRIES -->
    </div>
</div>
</div>
</div>
