<div class="bg-black">
<br>
<hr>
 <div class="container">
        <div class="row white-bg book-bg">
                <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="product-images">
                                            <div>
                                                <img class="pdt-images"src="images/TimeTraveller.jpg" alt="Time Traveller">
                                            </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <h2 class="font-bold m-b-xs">
                                        The Time Traveller
                                    </h2>
                                    <small>“Find a lonely tree in the middle of a cornfield and sit beneath its trembling leaves in the solitude of an
                                    evening. And ask yourself, do they really exist? Do we really exist”?</small>
                                    <hr>
                                    <h4>Book description</h4>
                                    <div class="small text-muted">
                                        Imagine yourself to be lost in time, well that would sound unfamiliar for some at least. Because we all
                                        have different perceptions about time. Time seems moving and unstoppable vehemently to our naked
                                        senses. At least for once we all get this desire to stop it, to change what happened in our lives.
                                        <br/>
                                        <br/>
                                        Imagine one fine morning you wake up from your sound sleep to find yourself somewhere else. You
                                        wake up in a distant land of which you have no memories at all. You look upon those lands and its
                                        people and it is strange indeed to you. It is later, you realise you are not even in your body. What you
                                        considered as your own body is no more a reality. You realise you are in a different time way back in the
                                        past in very different livelihood. None of us are sure about rebirths and the possibilities of previous lives.
                                        <br/>
                                        <br/>
                                        In this story you would find a young English man in a similar situation. He is stuck in his own previous life
                                        at a crucial point in that lifetime, trying to achieve something which he perhaps couldn’t when he lived it
                                        once. What happens to him in his past? How he travels back into his time? Answers to these questions
                                        are buried in the pages of the book.
                                        <br/>
                                        <br/>
                                        “History is like an empty shell that became pale white in the course of time, having lost with each
                                        molecule of moisture in the summer sands. What we know about the past are skeletons of some lives,
                                        reality is often forgotten; the flesh and blood”.
                                        <br/>
                                        <br/>
                                        This book takes you in a short voyage and would leave you with a question, ‘What really exists’?
                                        <br/>
                                    </div>
                                    <hr>
                                    <div>
                                        <div>
                                            <a href="https://www.amazon.in/Time-Traveller-Vinayaka-Moorthi/dp/9386487039/ref=sr_1_1?ie=UTF8&qid=1505316708&sr=8-1&keywords=time+traveller" class="btn btn-primary w3-button w3-orange font-type"><i class="fa fa-cart-plus"></i> Buy from Amazon</a>
                                            
                                            <a href="https://www.goodreads.com/book/show/36286401-the-time-traveller" class="btn btn-white w3-button w3-green font-type" target="_blank"><i class="fa fa-star"></i> Review at Gooreads </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
        </div>
        <hr>
<div class="row white-bg book-bg">
                <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-7">
                                    <h2 class="font-bold m-b-xs">
                                        I MET A Fairy Queen
                                    </h2>
                                    <small>“I felt her hands holding tight on her umbrella touching my fingers. The rhythm of the rain hid us from everyone and melted the love of two human beings, dripped one by one through our umbrellas and floated with the rainwater”</small>
                                    <hr>
                                    <h4>Book description</h4>
                                    <div class="small text-muted">
                                        Who is not interested in finding whether God really exists? Who lived a life without thinking at least once about the truth of heaven, heavenly beings or afterlife? I would say, none. This book peeps into the imaginary dwellings of Angels hidden among the clouds we see. Hidden from the day of our loss of Paradise. It takes us to a beautiful world of two children and their adventures, their innocence, their love for each other and their love for nature.
                                        <br/>
                                        <br/>
                                        I Met a Fairy Queen is my first attempt to the regime of fantasy and children’s literature. The book introduces to you a beautiful rural imaginary village and its people. The story begins with Jim and Annie, two thick friends and their little world of happiness and childish agonies. In a fine evening when Annie left Jim alone to play by the banks of their brook he happens to see an Angel from heavens. Their first reluctance slowly builds up a close friendship. Conventions and many so called laws soon breaks apart and to Jim and Annie the heavenly beings open their world. It is in one way a process of regaining paradise. The sacrifices of Jim and Annie would please our minds as their journey takes us together to some new lands. 
                                        <br/>
                                        <br/>
                                       “I felt her hands holding tight on her umbrella touching my fingers. The rhythm of the rain hid us from everyone and melted the love of two human beings, dripped one by one through our umbrellas and floated with the rainwater”.

                                        <br/>
                                        <br/>
                                        Through Jim and Annie, we learn how to be happy, how to love each other and find peace. A children’s book that would melt even the hearts of adults. ‘The truth is this, there is always a room for our own childhood, deep in the strongest corners of our minds’. 

                                        <br/>
                                    </div>
                                    <hr>
                                    <div>
                                        <div>
                                            <a href="https://www.amazon.in/Met-Fairy-Queen-Vinayaka-Moorthi/dp/178148337X/ref=sr_1_1?ie=UTF8&qid=1505316774&sr=8-1&keywords=i+met+a+fairy+queen" class="btn btn-primary w3-button w3-orange font-type"><i class="fa fa-cart-plus"></i> Buy from Amazon</a>
                                            
                                            <a href="https://www.goodreads.com/book/show/30513986-i-met-a-fairy-queen?ac=1&from_search=true" target="_blank" class="btn btn-white w3-button w3-green font-type"><i class="fa fa-star"></i> Review at Gooreads </a>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-md-5">
                                    <div class="product-images">
                                            <div>
                                                <img class="pdt-images"src="images/i_met.jpg" alt="I Met a Fairy queen">
                                            </div>
                                    </div>
                                </div>
                            </div>
                </div>
    </div>
    </br>
</div>
</div>