<div ng-app="vinayakApp" ng-controller="ContactCtrl">
<div class="container contact-page animated fadeInDown">
     <h1 id="header">Get In Touch</h1>
    <div class="row">
        <div class="col-md-6 contact-customloginColumns-form">
            <div class="form-style">
                <div>
                    <h1 class="contact-font-header">Send me a message</h1>
                </div>
                <hr/>
               <div class="box-content">
                    <form name="form" method="post" ng-submit="submit()">
                       <div class="form-row">
                        <div class="form-group col-md-6">
                             <label for="name"class="col-form-label">Name</label>
                             <input type="text" placeholder="John Doe" class="form-control box-line" id ="name" name = "name" ng-required='user.name.required' ng-model="name" ng-minlength='{{user.name.minlength}}' ng-maxlength="{{user.name.maxlength}}">
                                <span class = "error-highlighter" ng-show="form.name.$dirty && form.name.$error.required">Name is required!</span>
                                <div>
                                    <span class = "error-highlighter" ng-show="form.name.$error.minlength">Name has to be at least 5 characters</span>
                                </div>
                                 <div>
                                      <span class = "error-highlighter" ng-show="form.name.$error.maxlength">Name cannot exceed 25 characters</span>
                                 </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email" class="col-form-label">Email</label>
                            <input type="email" placeholder="johndoe@email.com" name = "email" ng-required = 'user.email.required' ng-model="email" class="form-control box-line" id ="email">
                            <span class = "error-highlighter" ng-show="form.email.$dirty && form.email.$error.required">Please enter your email Id!</span>
                        </div>
                        <div class="form-group col-md-12">
                            <label for = "message" class="col-form-label">Message</label>
                            <textarea rows="2" cols="3" name = "message" id = "message" ng-required = 'user.message.required' ng-model = "message" 
                            ng-minlength = '{{user.message.minlength}}' ng-maxlength = '{{user.message.maxlength}}' placeholder="Hi, I love your book because!!!" class="form-control box-line"></textarea>
                             <span class = "error-highlighter" ng-show="form.message.$dirty && form.message.$error.required">Please enter some message!</span>
                             <div>
                                  <span class = "error-highlighter" ng-show="form.message.$error.minlength">Message cannot be less than 10 characters</span>
                             </div>
                                 <div>
                                       <span class = "error-highlighter" ng-show="form.message.$error.maxlength">Message has to under 300 characters</span>
                                 </div>
                        </div>
                        <div class="form-group row">
                            <div class="sbt-btn col-md-9 col-md-offset-7">
                                <button class="btn btn-primary btn-sm" value="submit" type="submit">Submit</button>
                            </div>
                        </div>
                     </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 contact-info contact-customloginColumns-info">
            <div class ="info-style">
                <div>
                    <h1 class="contact-font-header" style="color:aliceblue;">Contact me</h1>
                </div>
                <hr/>
                <div>
                    <p><i class="fa fa-envelope fa-lg"></i>&nbsp moorthivinayak@gmail.com</p>
                </div>
                <div>
                    <p><i class="fa fa-phone-square fa-lg"></i>&nbsp +91 8281273697</p>
                </div>
                <div>
                    <a href="https://www.facebook.com/vinayaka.moorthi.18" target="_blank" style="font-size:48px;color:#4267b2" class="fa fa-facebook fa-lg">&nbsp&nbsp</a>
                    <a href="https://twitter.com/vin9894056810" target="_blank" style="font-size:48px;color:#1DA1F2" class="fa fa-twitter fa-lg"></a>
                </div>
            </div>        
        </div>        
    </div>
</div> 
</div>
</div>