<div class="bg-black">
<div class="container">
<div class="row">
    <br>
    <br>
    <br>
    <h1 class ="recomend-text font-c">Books that I absolutely adore: </h1>
    <hr/>
            <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-content product-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="https://www.goodreads.com/book/show/77203.The_Kite_Runner?ac=1&from_search=true"></a><img src="images/kiterunner.jpg" alt="Kite Runner Book" height="80%" width="80%">
                                </div>
                                <div class="col-md-8" style="padding-left:0px;">
                                <br>
                               <h2 class ="recomend-text">The Kite Runner</h2>
                               <hr>
                               <h3 class ="recomend-text">Author:</h3>
                               <h3 class ="recomend-text">Khaled Hosseini</h3>
                               <br>
                               <h4 class ="recomend-text">About book:</h4>
                               <h4 class ="recomend-text">We see a different Afghan from the narration of Khaled Hosseini. The changes Afghan had gone through from the Soviets and from the emergence of Taliban. This first book from Hosseini became a best seller and an internationally recognized, the beauty of the book lies in the narration of human relations. </h4>
                                <br>
                                <a href="https://www.goodreads.com/book/show/77203.The_Kite_Runner?ac=1&from_search=true" target="_blank" class="btn w3-button w3-green font-type font-type"></i> More on Gooreads </a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-content product-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="https://www.goodreads.com/book/show/865.The_Alchemist?from_search=true"></a><img src="images/alchemist.jpg" alt="The Alchemist Book" height="80%" width="80%">
                                </div>
                                <div class="col-md-8" style="padding-left:0px;">
                                <br>
                               <h2 class ="recomend-text">The Alchemist</h2>
                               <hr>
                               <h3 class ="recomend-text">Author:</h3>
                               <h3 class ="recomend-text">Paulo Coelho</h3>
                               <br>
                               <h4 class ="recomend-text">About book:</h4>
                               <h4 class ="recomend-text">Alchemist lies within you. The magician who makes gold from nowhere, and as we read on this book we
                                do meet an Alchemist who helps us to find ourselves from the darkest corners of our minds. We will
                                meet our own dreams in the pages of ‘The Alchemist’.</h4>
                                <br>
                                <a href="https://www.goodreads.com/book/show/865.The_Alchemist?from_search=true" target="_blank" class="btn w3-button w3-green font-type font-type"></i> More on Gooreads </a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-content product-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="https://www.goodreads.com/book/show/2956.The_Adventures_of_Huckleberry_Finn?from_search=true"></a><img src="images/theadventuresofhuckleberryfinn.jpg" alt="The Adventures of Huckleberry Finn Book" height="80%" width="80%">
                                </div>
                                <div class="col-md-8" style="padding-left:0px;">
                                <br>
                               <h2 class ="recomend-text">The Adventures of Huckleberry Finn</h2>
                               <hr>
                               <h3 class ="recomend-text">Author:</h3>
                               <h3 class ="recomend-text">Mark Twain</h3>
                               <br>
                               <h4 class ="recomend-text">About book:</h4>
                               <h4 class ="recomend-text">You fall in love with two naughty boys if you read this book. The painful reality of life is blown away with the immature adventures of Tom and Huckleberry. They are both the child in every readers’ mind, we read and fulfils the childhood adventures of ourselves. Take yourself back to the childhood happiness.</h4>
                                <br>
                                <a href="https://www.goodreads.com/book/show/2956.The_Adventures_of_Huckleberry_Finn?from_search=true" target="_blank" class="btn w3-button w3-green font-type font-type"></i> More on Gooreads </a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-content product-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="https://www.goodreads.com/book/show/3836.Don_Quixote?ac=1&from_search=true"></a><img src="images/don.jpg" alt="Don Quixote Book" height="80%" width="80%">
                                </div>
                                <div class="col-md-8" style="padding-left:0px;">
                                <br>
                               <h2 class ="recomend-text">Don Quixote</h2>
                               <hr>
                               <h3 class ="recomend-text">Author:</h3>
                               <h3 class ="recomend-text">Miguel de Cervantes</h3>
                               <br>
                               <h4 class ="recomend-text">About book:</h4>
                               <h4 class ="recomend-text">Satire at its best, Don Quixote is a perfect example. It doesn’t matter how many years pass by after this satire, there will be Don Quixote like characters in real life at any corner of the world. We laugh, we enjoy, we think and re-think between the lines.</h4>
                                <br>
                                <a href="https://www.goodreads.com/book/show/3836.Don_Quixote?ac=1&from_search=true" target="_blank" class="btn w3-button w3-green font-type font-type"></i> More on Gooreads </a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-content product-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="https://www.goodreads.com/book/show/6185.Wuthering_Heights?from_search=true"></a><img src="images/wuthering.jpg" alt="Wuthering Heights Book" height="80%" width="80%">
                                </div>
                                <div class="col-md-8" style="padding-left:0px;">
                                <br>
                               <h2 class ="recomend-text">Wuthering Heights</h2>
                               <hr>
                               <h3 class ="recomend-text">Author:</h3>
                               <h3 class ="recomend-text">Emily Bronte</h3>
                               <br>
                               <h4 class ="recomend-text">About book:</h4>
                               <h4 class ="recomend-text">One of the best female writings. The descriptions and the story brings up old country English livelihood and its genuine elements. Characters in the book would haunt the reader and deeply imprint their marks in the hearts.</h4>
                                <br>
                                <br>
                                <a href="https://www.goodreads.com/book/show/6185.Wuthering_Heights?from_search=true" target="_blank" class="btn w3-button w3-green font-type font-type"></i> More on Gooreads </a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-content product-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="https://www.goodreads.com/book/show/18245000-oru-sankeerthanam-pole?ac=1&from_search=true"></a><img src="images/malyali.jpg" alt="Oru Sankeerthanam Pole Book" height="80%" width="80%">
                                </div>
                                <div class="col-md-8" style="padding-left:0px;">
                                <br>
                               <h2 class ="recomend-text">Oru Sankeerthanam Pole</h2>
                               <hr>
                               <h3 class ="recomend-text">Author:</h3>
                               <h3 class ="recomend-text">Permubadavom Sreedharan</h3>
                               <br>
                               <h4 class ="recomend-text">About book:</h4>
                               <h4 class ="recomend-text">A beautiful biographical story about Fyodor Dostoyevski. The great writer’s different life, his different behavior, his weaknesses and his beautiful relation with Anna. A truly magical work written in Malayalam about the greatest storyteller of all time.</h4>
                                <br>
                                <a href="https://www.goodreads.com/book/show/18245000-oru-sankeerthanam-pole?ac=1&from_search=true" target="_blank" class="btn w3-button w3-green font-type font-type"></i> More on Gooreads </a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>     
       </div>
</div>